<class name="org.wso2.healthcare.apim.backendauth.BackendAuthenticator">
    <property name="configType" value="{{configType}}"/>
    <property name="configValue" value="{{configValue}}"/>
    <property name="authType" value="{{authType}}"/>
    <property name="tokenEndpoint" value="{{tokenEndpoint}}"/>
    <property name="clientId" value="{{clientId}}"/>
    <property name="clientSecret" value="{{clientSecret}}"/>
    <property name="keyAlias" value="{{keyAlias}}"/>
</class>
